<configuration>
	<system.data>
		<DbProviderFactories>
			<remove invariant="System.Data.SqlClient" />
			<add name="Microsoft Data Access Application Block"
				 invariant="System.Data.SqlClient"
				 description=".NET Framework Data Provider for SQL Server"
				 type="System.Data.SqlClient.SqlClientFactory, System.Data.SqlClient, Version=4.8.6.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
		</DbProviderFactories>
	</system.data>
	<!-- Другие настройки... -->
</configuration>
